.filter {
  display: flex;
  align-items: center;
}

#search {
  border-radius: 25px;
}

.article-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  flex-wrap: wrap;
}

.article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.166);
  border-radius: 12px;
  width: 62rem;
  height: 20rem;

  transition: var(--hover-transition);
}

.article:hover {
  transform: var(--hover-translateY);
}

.article-info a {
  color: black;
  text-decoration: none;
}

.article-info a:hover {
  color: #eb910a;
}

.article img {
  object-fit: contain;
  width: 256px;
  height: auto;
  border-radius: 12px;
}

.article-info {
  text-align: left;
  margin-right: auto;
}

#article-title {
  max-width: 600px;
}

.pages-number {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.pages-number a {
  text-decoration: none;
  color: black;
}

.pages-number a:hover {
  color: var(--hover-text-color);
}

.pages-number a.active {
  color: var(--hover-text-color);
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 20px;
    text-align: center;
  }

  .article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 25px;
    gap: 2rem;
    padding: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.166);
    border-radius: 12px;
    width: 100%;
    height: auto;
  }

  .article-info {
    text-align: center;
  }

  .article img {
    object-fit: contain;
    width: 328px;
    height: auto;
    border-radius: 12px;
  }

  .article {
    transition: none;
  }

  .article:hover {
    transform: none;
  }
}
