.blogpost {
  text-align: center;
  margin-top: 20px;
  z-index: 2;
}

.blogpost h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.postPlace {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  width: 30%;
  margin: 0 1.5%;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: var(--hover-transition);
}

.post:hover {
  transform: var(--hover-translateY);
}

.post img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  animation: var(--blend-in);
}

.post h3 {
  font-size: 18px;
  margin: 10px 0;
}
<<<<<<< HEAD
=======

@media screen and (max-width: 768px) {
  .header {
    font-size: 20px;
    text-align: center;
  }
}
>>>>>>> b8d58f4f2fc865adc7d783a47fda54c46b093bc7
