<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail článku</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="main-title">Travel Blog</h1>
        <nav>
          <li><a href="#">Details</a></li>
          <li><a href="#">Select</a></li>
        </nav>
      </header>

      <main>
        <h1>{$title}</h1>
        <p>{$content}</p>
        <p>{$img}</p>
        <p>{$author}</p>
        <p>{$destination}</p>
        <p>{$date}</p>
      </main>

      <footer>
        <p>Made by: Vlček, Pták, Rehák, Duchek</p>
      </footer>
    </div>
  </body>
</html>
