<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Traveler's Trove - {$title}</title>

    <link rel="stylesheet" href="../src/styles/style.css" />
    <link rel="stylesheet" href="../src/styles/articleDetail.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <script src="../src/scripts/script.js"></script>
  </head>
  <body onload="showSlides(1)">
    <div class="slideshow">
      <div class="Slides fade">
        <img src="" alt="Image Slide">
      </div>

      <div class="Slides fade">
        <img src="" alt="Image Slide">
      </div>

      <div class="Slides fade">
        <img src="" alt="Image Slide">
      </div>

      <div class="Slides fade">
        <img src="" alt="Image Slide">
      </div>

      <div class="Slides fade">
        <img src="" alt="Image Slide">
      </div>
      <div class="account-status">
        |
        {if $authStatus}
          <a href="../account/login.php">{$username}</a></li>
        {else}
          <a href="../account/login.php">Účet</a></li>
        {/if}
        |
      </div>
      <div class="header">
        <h1>Traveler's Trove</h1>
        <nav>
          <ul>
            <li><a href="../">Domů</a></li>
            |
            <li><a href="./articleSearch.php">Články</a></li>
            |
            <li><a href="#">O nás</a></li>
            |
            <li><a href="#">Kontakt</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="dotPlace">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
    </div>

    <main>
      <div>
        <h1>{$title}</h1>
        <p>{$author} {$destination} {$date}</p>
      </div>
      <div class="content">
        
        <p>{$content}</p>
        <img src="../src/images/{$img}" />
      </div>
      
    </main>

    <footer>
    </footer>
  </body>
</html>