<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Travel Blog - Výběr článku</title>

    <link rel="stylesheet" href="../src/styles/style.css" />
    <link rel="stylesheet" href="../src/styles/homePage.css" />
    <script src="../src/scripts/script.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <img src="../src/images/travel-blog-logo.jpg" alt="Travel Blog Logo" />

        <nav>
          <li><a href="../">Home</a></li>
          <li><a href="#">Select</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Sign In/Up</a></li>
        </nav>
      </header>

      <main>
        <form action="articleDetail.php" method="get">
          <select name="articleId">
            <option n:foreach="$title as $titleKey" value="{$titleKey[0]}">{$titleKey[1]}</option>
          </select>
          <button type="submit">submit</button>
        </form>
      </main>

      <footer>
        <p>Made by: Vlček, Pták, Rehák, Duchek</p>
      </footer>
    </div>
  </body>
</html>
