<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Travel Blog</title>

    <link rel="stylesheet" href="../src/styles/style.css" />
    <link rel="stylesheet" href="../src/styles/homePage.css" />
    <script src="../src/scripts/script.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="main-title">Travel Blog</h1>
        <nav>
          <li><a href="#">Details</a></li>
          <li><a href="#">Select</a></li>
        </nav>
      </header>

      <main>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
          tempora veniam delectus sint tenetur repudiandae eaque veritatis,
          officiis vel, vero, fuga incidunt dolore officia reprehenderit error!
          Placeat excepturi unde dolores earum mollitia odio nesciunt
          exercitationem magnam numquam cupiditate tempore deserunt fugiat
          doloribus, enim dolore fugit quae ea, inventore nostrum adipisci
          praesentium. Culpa, nesciunt sit! Repellat aut placeat esse sunt
          temporibus magni obcaecati quia, totam in natus?
        </p>
      </main>

      <footer>
        <p>Made by: Vlček, Pták, Rehák, Duchek</p>
      </footer>
    </div>
  </body>
</html>
