<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Travel Blog</title>

    <link rel="stylesheet" href="src/styles/style.css" />
    <link rel="stylesheet" href="src/styles/homePage.css" />
    <script src="src/scripts/script.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <img src="src/images/travel-blog-logo.jpg" alt="Travel Blog Logo" />

        <nav>
          <li><a href="#">Home</a></li>
          <li><a href="src/articleSelect.php">Select</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Sign In/Up</a></li>
        </nav>
      </header>

      <main>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
          tempora veniam delectus sint tenetur repudiandae eaque veritatis,
          officiis vel, vero, fuga incidunt dolore officia reprehenderit error!
          Placeat excepturi unde dolores earum mollitia odio nesciunt
          exercitationem magnam numquam cupiditate tempore deserunt fugiat
          doloribus, enim dolore fugit quae ea, inventore nostrum adipisci
          praesentium. Culpa, nesciunt sit! Repellat aut placeat esse sunt
          temporibus magni obcaecati quia, totam in natus? Lorem ipsum dolor,
          sit amet consectetur adipisicing elit. Quod pariatur a dolores
          provident recusandae commodi sit laboriosam tempora expedita molestias
          iure delectus nostrum labore aliquid, voluptatum repellendus
          perferendis minima non. Ullam, aperiam ab. Tempore animi assumenda
          corrupti possimus pariatur, laborum, perferendis voluptatem obcaecati
          repellendus quibusdam debitis praesentium tempora ex vitae molestiae
          hic dolore nobis. Ullam aliquam expedita iure repellat, cum recusandae
          ex dolore cumque ducimus magni neque error debitis placeat
          repellendus, reiciendis exercitationem unde distinctio possimus, at
          porro maiores consequuntur ipsa aliquid? Facere iste, voluptate ullam
          esse odio, quaerat libero officia corporis veritatis blanditiis ea
          vitae numquam modi dolor, praesentium quod. Repellendus commodi
          temporibus nobis numquam corporis excepturi, dolorum itaque velit vel
          cumque nemo, sapiente necessitatibus, a asperiores. Minus, deleniti
          quidem fugiat iusto ut optio consequatur quos voluptates explicabo
          modi, ducimus sapiente deserunt eaque in tempore omnis voluptatem
          delectus quisquam quam iste dicta ipsam corrupti facere nesciunt. Nisi
          quae, dolore quam quibusdam ipsum ut commodi officiis rem dicta, iusto
          ipsam. Consequatur aperiam vero blanditiis assumenda iusto illum
          eligendi quaerat dolorum, nobis aliquam adipisci sapiente sint
          inventore totam quam recusandae labore itaque aliquid cumque quis
          dolore minus accusantium odit quia! Pariatur maiores facilis
          exercitationem enim voluptatibus vitae consectetur delectus porro
          tempora esse obcaecati adipisci, natus, excepturi tenetur velit
          aspernatur dicta fugit illum iure architecto numquam sed non?
          Architecto asperiores numquam officia, debitis id quae totam, veniam
          obcaecati laudantium delectus libero nisi commodi aliquam voluptatum
          iste, quisquam eveniet officiis nesciunt porro distinctio itaque amet
          sint eligendi dolore. Perspiciatis aliquam vero ut laudantium quasi
          corrupti provident maxime, inventore nostrum ad debitis maiores
          expedita rem quam eum, tempore harum at laborum corporis possimus
          unde. Assumenda earum maxime voluptatibus quasi obcaecati neque harum
          tenetur, fuga accusantium eum voluptas cupiditate sequi magni
          similique voluptatum numquam. Nulla perferendis dolor, iusto ipsum,
          accusantium omnis id suscipit reprehenderit, ad sit doloribus eligendi
          consectetur doloremque laboriosam? Earum doloremque sunt, reiciendis
          debitis ab libero quaerat, dignissimos molestiae ipsum commodi iure
          accusamus culpa, vel rerum sit assumenda exercitationem laudantium!
          Id, odit vero. Similique nostrum harum possimus ut iure delectus rem
          eos explicabo est iusto voluptatum nulla, sapiente optio laborum,
          excepturi amet, cumque minima quod nesciunt voluptatibus molestiae
          quis. Dignissimos libero placeat excepturi, voluptatibus reprehenderit
          molestias consectetur repudiandae aut minus. Eius, autem voluptates
          doloremque corporis quidem, ad magnam dignissimos qui earum nobis
          molestias. Cumque, eligendi. Atque temporibus molestiae saepe totam
          tempora eos consequatur doloremque nulla minus quis nostrum at
          accusamus corrupti blanditiis qui, ratione quisquam, ex animi
          cupiditate sit! Temporibus animi rerum nulla adipisci autem quibusdam
          assumenda? Sed magni at non odio voluptas quia repellat esse, sapiente
          voluptatum quos, mollitia sunt recusandae repellendus, facilis ut nisi
          possimus cum ad voluptatem ab. Placeat numquam, obcaecati nesciunt
          ipsa corrupti harum ducimus, optio tenetur esse dolorem accusamus.
          Numquam minima, sed, iste repellat excepturi placeat nihil cum dolorum
          quos quaerat beatae tenetur assumenda ex? Veritatis laboriosam minus
          doloribus nulla eaque repudiandae, quidem maxime alias autem. Ea a
          natus ducimus ipsa delectus dolorem libero beatae perferendis
          voluptatem eos iste cupiditate minus, maiores pariatur vero blanditiis
          eligendi mollitia totam! Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Quam quod delectus ipsum perspiciatis eius nisi ea
          officiis natus tempora ut veniam aut pariatur neque impedit dolorem,
          optio in? Nemo, exercitationem quod. Velit, saepe iure explicabo
          beatae excepturi quam at nam, vitae repellat aliquid dolores deleniti
          quis sint quas reprehenderit laborum autem tenetur fuga deserunt
          delectus officia. Ea nemo nisi inventore, quo rerum modi quaerat nobis
          adipisci officia rem ipsum tempore, voluptas animi quibusdam?
          Exercitationem quisquam autem omnis iure enim fuga excepturi quod
          nobis saepe, nisi, aliquid id dignissimos nesciunt nemo deleniti ipsum
          totam est dolore, facere qui debitis cumque tempora assumenda? Sunt
          dolor magnam iure deleniti perspiciatis soluta voluptas aspernatur
          earum impedit molestiae ea eligendi consectetur sit distinctio cum
          quae pariatur at perferendis, autem tenetur animi? Enim dolores est
          dignissimos aperiam nemo eius consectetur consequatur? Ipsum minus
          perferendis ullam doloremque cumque, dignissimos voluptates quaerat
          ducimus enim dolor ratione libero fugit. Sunt deserunt perspiciatis,
          laboriosam aperiam aut reprehenderit iusto quasi, saepe fuga
          temporibus cum tempora eius animi nihil dolores possimus aliquam alias
          dicta aspernatur necessitatibus officia quidem magni quibusdam
          sapiente. Accusamus iure nemo maxime fuga eum consequatur earum, nulla
          harum modi, sunt voluptas omnis doloremque ducimus deleniti eveniet
          perspiciatis quo! Nobis, quas facilis officiis obcaecati perferendis
          debitis sint maxime blanditiis temporibus praesentium a dolore
          recusandae nam. Magnam enim itaque porro cupiditate accusamus
          repellendus suscipit commodi modi blanditiis vel vitae, soluta
          accusantium nam nemo eveniet laudantium illo doloremque. Earum eum
          pariatur aperiam magni perferendis eligendi nam itaque, facere
          assumenda dolorum odit tempora perspiciatis laudantium provident
          suscipit soluta sed blanditiis impedit? Dolore amet hic quam nesciunt
          quidem? Necessitatibus culpa cum illum. Quia nostrum temporibus
          excepturi libero, ipsum accusamus nesciunt iste illo reiciendis
          facilis quos porro molestiae, impedit nobis cupiditate voluptas
          recusandae blanditiis doloremque id et doloribus? Voluptate aliquam,
          maiores dolorum quod doloribus repudiandae delectus quibusdam,
          mollitia illo, voluptatem eveniet sint officiis hic ab fugit libero
          aspernatur minus animi eum maxime soluta odit perspiciatis iusto
          ratione? Quo quae facere, ipsum, deleniti eius dicta quibusdam ducimus
          asperiores commodi blanditiis praesentium officia velit debitis, vel
          repellat dignissimos libero. Accusantium velit sed odit quod numquam!
          Perferendis, corrupti rerum. Mollitia ea aliquid doloribus fugiat
          iusto voluptate expedita provident fugit, repellendus magnam minus
          dolorum voluptatum odit debitis laborum doloremque tempora. Totam
          dolor cum officiis. Aliquam, impedit aut nemo maiores asperiores
          dolore! Harum quasi reprehenderit nobis sint facere tenetur odit, quo
          vel cum repudiandae eum accusamus, rerum totam voluptate quia earum
          provident ea unde veniam porro sequi nulla modi. Quam ex at atque
          reiciendis consectetur dolore ea culpa, voluptas, voluptate quis quod
          accusantium aliquid impedit sequi rem doloremque delectus quia,
          sapiente maiores dolorum? Eius qui ab earum eum, doloribus rem ratione
          totam cum amet labore eligendi quis perspiciatis itaque hic recusandae
          harum laborum explicabo repellendus voluptate veniam! Dolorem eum
          repellendus aliquid, tenetur velit est harum architecto sunt facere
          perspiciatis sint? Non laudantium minima quisquam, nam est vitae dolor
          officia! Animi, voluptates nihil consectetur voluptatibus modi
          accusantium libero a maxime voluptate saepe quibusdam laudantium harum
          dolorem sint fugit aut laboriosam minima, quia beatae odit rerum qui
          incidunt voluptatum! Illum provident vero id animi quasi excepturi,
          facere blanditiis veniam quae, amet quidem obcaecati tempora? Optio
          tempore natus consequuntur expedita soluta temporibus sit sunt
          doloribus at nesciunt veniam vitae deserunt, animi alias nemo quod
          nulla porro debitis, ipsa laboriosam. Labore cum, in, dolorum nemo
          quod itaque temporibus quia et repellendus deleniti modi nesciunt
          quasi ut, odit deserunt quis culpa consectetur ipsam numquam
          necessitatibus hic? Repellendus enim iure mollitia, et, error minus
          est ducimus qui earum maxime ipsum cupiditate, quasi nemo nesciunt
          deleniti officia rem vitae! Ex, aut ratione dolorum quam recusandae
          est obcaecati sint ab. Tempore nam velit tempora quasi unde quidem
          nesciunt. Adipisci, asperiores. Ea officiis error repellat aspernatur
          earum. Blanditiis cumque mollitia nulla cum doloribus eaque in odio!
          Fugiat ducimus nihil numquam perferendis id odio. Ut enim dicta, harum
          eum aspernatur veniam laboriosam perspiciatis est, ullam dolorum modi
          inventore cumque tempora, soluta illum officiis iure rem fugiat
          repellendus nihil at excepturi nostrum nemo. Necessitatibus corporis
          voluptas ab qui voluptates, consequuntur error odio porro labore ipsa
          ipsam aut molestias nam. Enim harum minus, inventore obcaecati
          adipisci placeat temporibus nam voluptatem libero magnam nihil ducimus
          optio voluptatibus necessitatibus? Doloribus, cumque? Illo ducimus
          labore, quibusdam id ea quaerat cum fuga ipsum et! Quae sapiente
          mollitia voluptatibus, repudiandae voluptatum soluta minima deserunt
          nobis ipsa earum in, a aliquid culpa vitae suscipit alias vero
          provident pariatur tenetur repellendus perferendis. Vitae, molestias
          modi! A assumenda, eveniet repellat, obcaecati, non ducimus quis
          itaque consequuntur aspernatur ea temporibus placeat dolorum nostrum
          soluta. Repellat perspiciatis culpa enim nemo in asperiores fugit
          nulla quibusdam temporibus minus earum quaerat reprehenderit
          dignissimos quam modi repellendus, et laborum rerum animi. Nihil ab
          debitis ratione eaque hic labore odio ducimus, voluptatem eligendi ad
          aperiam qui at est cum veniam, quisquam corporis voluptatum ut quaerat
          ex dolore expedita numquam maiores cupiditate! Exercitationem
          voluptatibus totam delectus in itaque fuga dolore, quo iusto beatae
          perspiciatis placeat quisquam ab eos ipsam quis provident eligendi?
          Necessitatibus beatae autem inventore natus totam quibusdam obcaecati
          error commodi eius amet sapiente quisquam explicabo, atque est sequi
          voluptas dignissimos! Atque possimus vitae, quibusdam sunt, eum
          obcaecati doloremque aliquid excepturi eos ut ab numquam impedit illo
          quos minima soluta perspiciatis voluptatum sint totam nobis eaque quas
          fugiat! Hic possimus facilis dolorem voluptates, harum ab pariatur
          consequuntur similique fugit quo perspiciatis eaque sed vero nostrum
          dolorum laborum, neque laboriosam iste repellat maxime placeat
          officiis voluptas! Explicabo, ullam ipsam. Voluptate possimus placeat
          quaerat unde qui, accusamus voluptatibus incidunt? Nobis vero
          consequatur perferendis? Quam, reiciendis explicabo id ab repudiandae
          aut ipsam, consequuntur fugiat at perspiciatis amet nihil quisquam
          soluta quibusdam debitis magnam dolores iusto molestiae voluptatem?
          Ipsam atque velit mollitia temporibus tempora incidunt explicabo ad a,
          error assumenda iste. Rerum, esse explicabo. Sunt, reiciendis. Quas
          consequuntur vitae aliquam! Aperiam voluptatum, sint officiis in enim
          nobis. Hic, suscipit fugiat. Cumque dicta culpa facere earum ipsum aut
          officiis, saepe quod id aspernatur qui corporis nostrum veritatis,
          voluptate temporibus reprehenderit fuga illo nesciunt obcaecati, ad
          deserunt nihil nulla cupiditate! Maxime, et?
        </p>
      </main>

      <footer>
        <p>Made by: Vlček, Pták, Rehák, Duchek</p>
      </footer>
    </div>
  </body>
</html>
