<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Přihlášení</title>
        <link rel="stylesheet" href="../src/styles/login.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <!-- Font, can be changed but this one is decent -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />
        <link rel="apple-touch-icon" sizes="180x180" href="../src/res/favicon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="../src/res/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="../src/res/favicon/favicon-16x16.png" />
        <link rel="manifest" href="../src/res/favicon/site.webmanifest" />
    </head>
    <body>
        <div class="LContainer">
            <div class="left-side">
                <img src="../src/res/Logo.PNG" alt="Logo" id="imbedimage" />
                <h1>Vítejte zpět</h1>
                <h3 id="SText">Zadejte přihlašovací údaje</h3>
                <form class="LForm" action="#" method="post">
                    <label for="email">E-mail</label><br />
                    <input type="text" name="username" placeholder="Enter your email" required /><br />
                    <label for="password">Heslo</label><br />
                    <input type="password" name="password" placeholder="Enter your password" required /><br />
                    <input type="submit" value="Přihlásit se" />
                    <p>Nemáte účet? <a href="">Registrovat se</a></p>
                </form>
            </div>
            <div class="right-side">
                <h2>Dream. Travel. Explore.</h2>
            </div>
        </div>
    </body>
</html>
